@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
    /* background: url(https://images.unsplash.com/photo-1463490093487-b0ffe9b8e140?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fd7561cb19fe69d1809ff2df9b7ddf39&auto=format&fit=crop&w=1350&q=80) center center; */
    background-size: cover;
    font-family: 'Lobster', cursive;
}

img {
    border: solid 1px red;
    margin: 10px;
  }